#Todo {
    text-align: center;
    margin-top: 32px;
    font-size: 36px;
    font-style: normal;
    font-family:;
    font-weight: 700;
}

#Subt {
    font-style: normal;
    font-size: 14px;
    font-weight: 600;
    margin-top: 130px;
    color: #333333;
    text-align: center;
}